# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
*.RData #Should all be reproducable from .csv and .r files, & if there are model fits they bloat fast!

# Docker
Dockerfile
docker-compose.yml
.env
